@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  width: 99%;
  height: 106vh;
  font-family: Roboto;
  color: white;
  z-index: 1;
  position: fixed;
  margin: 0px;
}
#win {
  display: flex;
  background: black;
  margin: auto;
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 > sub {
  font-size: 1.8vh;
}
h2 {
  width: 100%;
  margin: 0px 2vh 0px 2vh;
  align-self: baseline;
  font-size: 3vh;
}
.bg {
  background-image: url(./imgs/bg1.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: fixed;
  filter: brightness(0.5);
}
header {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 700;
  margin: 3vh 35px 0px 35px;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
}
#img-player {
  transform: scaleX(-1);
}
header > div > div {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
header > div > div > h5 {
  padding: 0px;
  margin: 0px 8px 0px 0px;
  font-size: 3vh;
}
.div-hud {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
meter {
  -webkit-appearance: meter;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.input-hp {
  height: 4.5vh;
  margin-bottom: 1.5vh;
}
.input-hp::before {
  content: 'Hp';
  position: absolute;
  top: 8.5vh;
  left: unset;
  font-size: 2.5vh;
}
.input-hp::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-color: red;
  -webkit-transition: width 2s;
  transition: width 2s;
}
.input-hp::-webkit-meter-bar {
  border-radius: 2px;
  background: none;
  background-color: grey;
  box-shadow: 0 5px 5px -5px #333 inset;
}
.input-mana {
  width: 19vh;
  height: 3.4vh;
}
.input-mana::before {
  content: 'Mana';
  position: absolute;
  top: 15.9vh;
  font-size: 2.5vh;
}

.input-mana::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-color: rgb(0, 16, 135);
  -webkit-transition: width 2s;
  transition: width 2s;
}
.input-mana::-webkit-meter-bar {
  background: none;
  background-color: grey;
  box-shadow: 0 5px 5px -5px #333 inset;
  border-radius: 2px;
}

.div-battle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  justify-content: space-around;
}
#atk-list {
  margin-right: 15px;
  display: flex;
  align-content: center;
  flex-direction: column;
}
.atk {
  border-radius: 5px;
  background: gray;
  text-align: center;
  padding: 5px 11px;
  margin: 0.5vh 2vh;
  color: white;
  cursor: pointer;
  font-size: 2.4vh;
}

.atk:hover {
  color: grey;
  background: rgb(55, 55, 55);
}
#atk-desc {
  border-radius: 5px;
  height: 20vh;
  text-align: start;
  padding: 1px 30px;
  margin: 2px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  background-color: #c7c0c0;
}
#atk-desc > p {
  height: 74%;
  width: 100%;
  font-size: 2.7vh;
}

main {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  flex-direction: row;
}
main > div > div {
  display: flex;
  justify-content: center;
}
footer {
  height: 26vh;
}

#div-atk-text {
  display: flex;
  border-radius: 5px;
  height: 12vh;
  width: 40%;
  text-align: start;
  padding: 1px 30px;
  margin: auto;
  border-color: black;
  border-style: solid;
  border-width: thin;
  background-color: #c7c0c0;
  align-items: center;
  justify-content: center;
}
footer > div {
  font-size: 2.4vh;
  width: 100%;
}
footer > div > div {
  width: 100%;
}
#mana-charge {
  background: blue;
}
#atk-style {
  display: flex;
  flex-direction: row;
  align-items: center;
}
